<footer class="hidden-print">
	<div class="container">
  	<div class="row">
      <div class="col-md-8 col-md-offset-2">
				<a target="_blank" href="http://lrc.org.za/"><img src="/img/lrc-logo.png"></a>
				<a target="_blank" href="http://osf.org.za/"><img src="/img/osf-logo.png"></a>
				<a target="_blank" href="https://openup.org.za"><img src="/img/openup-logo.png"></a>
			</div>
		</div>
	</div>
</footer>

<footer class="container print-logo visible-print-block">
	<h3>Made possible by</h3>
	<div class="row">
	  <div class="col-xs-4">
			<img class="logo" src="/img/lrc-logo.png">
		</div>
	  <div class="col-xs-4">
			<img class="logo" src="/img/osf-logo.png">
		</div>
	  <div class="col-xs-4">
			<img class="logo" src="/img/openup-logo.png">
		</div>
	</div>
</footer>